*, *::before, *::after {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  background: linear-gradient(to right,#d156c7, #9debc0  )
}

.calculator-grid{
  display: grid;
  margin-top: 2rem;
  /* space from the top of the page */
  grid-template-columns: repeat(4, 6rem); 
  /* 4 boxes/grid spaces and 6rem for size : column = direction */
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  /* min is 7 for output box size, auto for maz size: for wrapping: repeat 5 rows have them be 6rem */
}

.calculator-grid > button{/*selecting button in calculator grid class*/
cursor: pointer;
font-size: 2rem;
border:1px;
outline: none;
background-color: rgba(255,255,255,.75);

} 

.calculator-grid >button:hover,
.calculator-grid >button:focus{
  background-color: rgba(255, 255, 255, 255) ;
}


.span-two{
  grid-column: span 2;
  /* the grid is divided into 4 *grid-temp-column* and this element take up two of those spaces and then everything else flex wraps around */
}

.output {
  grid-column: 1 / -1;
  /* has its own column (box) */
  background-color: rgba(0,0,0,.75);
  /* .75 makes it transparent  */
  display: flex;
  flex-direction: column;
  /*vertically stacked instead of next to each other  */
  align-items: flex-end;
  /* Push to the right */
  justify-content: space-around;
  /*spaces the prev and the current away from each other  */
  padding: .75rem;
  /* Space around the prev and current elements individially */
  word-wrap: break-word;
/* breaks when there a lot of numbers and then... */
  word-break: break-all; 
  /* ....wraps to the nxt line when theres a long input */ 
}

.output .previous-operand {
  color: rgb(143, 138, 138);
  font-size: 1rem;
}

.output .current-operand {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}